{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
     .wy-side-nav-search>div.version {
    color: #000000;
}
    

  span.fa.fa-book{
	visibility: hidden;
	position: relative;
}

  span.fa.fa-book:after {
	visibility: visible;
	position: absolute;
	top: 1;
	left: 0;
	content: "Switch Version";
}
 
	  
 .wy-breadcrumbs li:first-child a:first-child {
  visibility: hidden;
  position: relative;
}

  .wy-breadcrumbs li:first-child a:first-child:after {
    visibility: visible;
    position: absolute;
    top: 1;
    left: 0;
    content: "Home";
}


   /* Sidebar */
    .wy-nav-side {
      background: #333333;
    }

    /* Upper Sidebar */
    .wy-side-nav-search{
      background: lightgray;
      color: #000000;
    }

    .wy-side-nav-search input[type=text] {
    border-radius: 0px;
    }

    span.caption-text{
    display: none;
}
  .wy-menu-vertical header, .wy-menu-vertical p.caption {
    height: 0px;
    width: 0px;
    display: none;

  }
    
    /* Content area */
    .wy-nav-content {
    max-width: 90%;
   }
   
   a.icon.icon-home{
    color: #000000;
   }

   /*tables*/
  .wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
    }

  .wy-table-responsive {
    overflow: visible !important;
  }

   </style>
{% endblock %}
