{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
.logo {
  width: 240px !important;
}	  
     .wy-side-nav-search>div.version {
    color: #000000 !important;
}
    .version {
  color: #000000 !important;
}

  span.fa.fa-book{
	visibility: hidden;
	position: relative;
}

  span.fa.fa-book:after {
	visibility: visible;
	position: absolute;
	top: 1;
	left: 0;
	content: "Switch Version";
}
 
	  
 .wy-breadcrumbs li:first-child a:first-child {
  visibility: hidden;
  position: relative;
}

  .wy-breadcrumbs li:first-child a:first-child:after {
    visibility: visible;
    position: absolute;
    top: 1;
    left: 0;
    content: "Home";
}


   /* Sidebar */
    .wy-nav-side {
      background: #333333;
    }

    /* Upper Sidebar */
    .wy-side-nav-search{
      background: #e3e3e3;
      color: #000000;
    }

    .wy-side-nav-search input[type=text] {
     	border-radius: 0px;
	border-color: #333333
	   
    }

    span.caption-text{
    display: none;
}
  .wy-menu-vertical header, .wy-menu-vertical p.caption {
    height: 0px;
    width: 0px;
    display: none;

  }
    
    /* Content area */
    .wy-nav-content {
    max-width: 90%;
   }
   
   a.icon.icon-home{
    color: #000000;
   }


   /*tables*/
  .wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal  !important;
    }

  .wy-table-responsive {
    overflow: visible !important;
  }
	  
	  		  
.icon-home {
  color: #333333 !important;
}

.icon-home:hover {
  background-color: #d6d6d6 !important;
}

a:hover {
  color: #bd2c2a !important;
}

/*From Espressif css*/
	  
/* For space between the return type and function name */
a.internal + code.descname::before {
  content: ' ';
}

/* For space between the arguments of the function */
a.internal + em::before {
  content: ' ';
}

.tool-sha256 {
  word-break: break-all;
}

   </style>
{% endblock %}
